@import "tailwindcss";

@theme {
  --color-custom-strongCyan: hsl(171, 66%, 44%);
  --color-custom-lightBlue: hsl(233, 100%, 69%);
  --color-custom-darkGrayishBlue: hsl(210, 10%, 33%);
  --color-custom-grayishBlue: hsl(201, 11%, 66%);

  --font-sans: "Bai Jamjuree", "sans-serif";

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

@layer base {
  h1,
  h2 {
    @apply text-4xl font-[600] text-custom-darkGrayishBlue mb-8 md:text-5xl;
  }
  h3 {
    @apply text-2xl font-[600] text-custom-darkGrayishBlue mb-2;
  }

  p {
    @apply text-custom-grayishBlue;
  }
  section , .main-header {
    @apply max-w-6xl mx-auto mb-40 px-10;
  }
}

@layer components {
  .btn-custom {
    @apply text-white rounded-full py-4 block px-8 shadow-lg inline-block text-xl hover:opacity-80 duration-300 cursor-pointer;
  }
  .section-content {
    @apply text-xl max-w-192 mx-auto;
  }
  
}
